<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You for Using COMPANY NAME</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<header class="bg-blue-900 text-white text-center py-5">
    <h1 class="text-4xl">ServeEasy</h1>
</header>

<nav class="bg-blue-900 text-white text-center py-2">
    <ul>
        <form method="POST">
            <button class="inline mx-4" name="action" value="Home">Home</button>
            <button class="inline mx-4" name="action" value="About">About</button>
            <button class="inline mx-4" name="action" value="Contact">Contact</button>
        </form>
    </ul>
</nav>
<body class="bg-gray-100 h-screen flex flex-col justify-center items-center">
    <div class="text-center">
        <h1 class="text-4xl font-semibold mb-4">Thank You for Using COMPANY NAME!</h1>
        <h2 class="text-lg text-gray-600">You will soon be connected with the right person of your needs</h2>
    </div>

    <div class="mt-8 text-center">
        <div class="border p-4 mb-4 rounded shadow-md">
            <form method="POST">
                <h3 class="text-2xl font-semibold mb-4">{{best_match}}</h3>

                <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-600">Submit</button>
            </form>
        </div>
    </div>
    <footer class="bg-gray-300 py-4 text-center">
        <div class="container mx-auto text-gray-700">
            <p>&copy; 2023 ServeEasy - Your Trusted Service Finder</p>
        </div>
    </footer>
</body>
</html>

