<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Account</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<header class="bg-blue-900 text-white text-center py-5">
    <h1 class="text-4xl">ServeEasy</h1>
</header>

<nav class="bg-blue-900 text-white text-center py-2">
    <ul>
        <form method="POST">
            <button class="inline mx-4" name="action" value="Home">Home</button>
            <button class="inline mx-4" name="action" value="About">About</button>
            <button class="inline mx-4" name="action" value="Contact">Contact</button>
        </form>
    </ul>
</nav>
<body class="bg-white-100 p-6 justify-center">
    <div class="max-w-md mx-auto bg-white p-6">
        <h1 class="text-2xl font-semibold mb-4">Please Enter All The Required Information</h1>
        <form action="/create_an_account" method="POST">
            <div class="mb-4">
                <label for="full-name" class="block text-gray-600">Full Name</label>
                <input name="fname" type="text" id="full-name" name="full-name" class="w-full p-2 border rounded">
            </div>
            <div class="mb-4">
                <label for="email" class="block text-gray-600">Email</label>
                <input name="email" type="email" id="email" name="email" class="w-full p-2 border rounded">
            </div>
            <div class="mb-4">
                <label for="phone-number" class="block text-gray-600">Phone Number</label>
                <input name="phone-number" type="tel" id="phone-number" name="phone-number" class="w-full p-2 border rounded">
            </div>
            <div class="mb-4">
                <label for="profile-description" class="block text-gray-600">Tell us a bit about yourself!</label>
                <textarea name="description" id="profile-description" name="profile-description" class="w-full p-2 border rounded"></textarea>
            </div>
            <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-600" >Next</button>
        </form>
    </div>
    <footer class="bg-gray-300 py-4 text-center">
        <div class="container mx-auto text-gray-700">
            <p>&copy; 2023 ServeEasy - Your Trusted Service Finder</p>
        </div>
    </footer>
</body>
</html>
